<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="layout">%d{DEFAULT} [%p] [%c] - %m [%X]%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} [%X] %-5level %logger{18} %l - %msg%n"/>
        </Console>
        <File name="CloudDB" filename="logs/client.log">
            <PatternLayout pattern="%d{DEFAULT} [%X] %-5level %logger{18} %l - %msg%n"/>
        </File>
        <File name="kvServer" filename="logs/server.log">
            <PatternLayout pattern="%d{DEFAULT} [%X] %-5level %logger{18} %l - %msg%n"/>
        </File>
        <File name="tests" filename="logs/tests.log">
            <PatternLayout pattern="%d{DEFAULT} [%X] %-5level %logger{18} %l - %msg%n"/>
        </File>
        <Routing name="Routing">
            <Routes pattern="$${ctx:serverPort}">

                <!-- This route is chosen if ThreadContext has no value for key ROUTINGKEY. -->
                <Route key="$${ctx:serverPort}">
                    <!--<Console name="console-default" target="SYSTEM_OUT">
                        <PatternLayout pattern="%d{DEFAULT} [%X] %-5level %l - %msg%n"/>
                    </Console>-->
                    <File name="server-default" filename="logs/default.log" advertise="true" advertiseURI="file:logs/default.log">
                        <PatternLayout pattern="${layout}"/>
                    </File>
                </Route>

                <!-- This route is chosen if ThreadContext has a value for ROUTINGKEY
                     (other than the value 'special' which had its own route above).
                     The value dynamically determines the name of the log file. -->
                <Route>
                    <!--<Console name="console-${ctx:serverPort}" target="SYSTEM_OUT">
                        <PatternLayout pattern="%d{DEFAULT} [%X] %-5level %l - %msg%n"/>
                    </Console>-->
                    <File name="server-${ctx:serverPort}" filename="logs/server_${ctx:serverPort}.log" advertise="true" advertiseURI="file:logs/server_${ctx:serverPort}.log" >
                        <PatternLayout pattern="${layout}"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Root level="info">
            <!--<AppenderRef ref="Console"/>-->
            <AppenderRef ref="Routing" />
        </Root>
        <!--Logger name="app_kvServer" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <appender-ref ref="kvServer" />
        </Logger>
        <Logger name="app_kvEcs" level="all" additivity="false">
            <AppenderRef ref="Console" />
            <appender-ref ref="kvServer" />
        </Logger>
        <Logger name="tests" level="all" additivity="false">
            <AppenderRef ref="Console" />
            <appender-ref ref="tests" />
        </Logger-->
    </Loggers>
</Configuration>